body {
  font-family: monospace;
  height: 100.1vh;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/76/Kukenan_Tepuy.jpg");
  background-size: cover;
}

/* .row {
    border: 1px solid red;
}

.col {
    border: 1px solid navy;
} */

.btn {
  font-weight: 600;
  background-color: white;
  color: black;
}

/* v2.1.0. */
